*,
*::before,
*::after {
  box-sizing: border-box;
}

a{
  cursor: pointer;
}

h2{
  margin: 0;
}

.fields-wrap{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

form{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #FFFFFF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button{
  font-family: 'Jost', sans-serif;
  font-weight: 700;
  background-color: #5409DA;
  border: 0px;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
}

nav{
  padding: 10px;
}

.nav-menu{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.card-table-wrap{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  max-width: 833px;
  gap: 20px;
}

.card-table{
  background: #000;
  width: 100%;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.card{
  padding: 1rem;
  background-color: white;
  color: black;
}

.cards-wrap{
  
}

.add-btn{
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  
}

dialog{
    margin: 0;
    width: 100%;
    height: 100%;
    background: #00000047;
    border: 0px solid;
}

.dialog-wrap{
  background-color: #FFFFFF;
    display: flex;
    position: absolute;
    width: 75%;
    gap: 70px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    padding: 2rem;
}

.dialog-close{
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
}